<section id="about">
        <div class="container" style="background-color:rgb(255, 255, 255)">
            <!-- <div class="row"> -->
                <div class="col-lg-12 text-center">
                    <!-- <h2 class="section-heading">About</h2> -->
                    <!-- <img src="about_white-1.jpg" alt="Image of all the clubs helping bring CultureX together" width="100%"> -->
                    <img src="about.png" alt="Image of all the clubs helping bring CultureX together" width="100%">
                    <!-- <embed src="about_white.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0" type="application/pdf" width="100%" height="600px" /> -->
                    <h3 class="section-subheading text-muted" id="tickets">Reach out to any of the student groups to get tickets!</h3>
                <!-- </div> -->
                    <div>
                        <ul class="staff">
                        <li div data-aos="fade-up">
                                <!-- <a data-featherlight="#arnel-lightbox" href="">
                                    <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/arnel_jose1.jpg)">
                                    </div> -->
                                </a>
                                <div class="name" style="font-weight: bolder;">
                                    <!-- <a data-featherlight="#arnel-lightbox" href=""> -->
                                        UMISO
                                    <!-- </a> -->
                                </div>
                                <div class="position">
                                    University of Manitoba International Student Organization
                                </div>
                                <div class="rounded-social-buttons">
                                    <a class="social-button email" href="mailto:umiso.org@gmail.com?Subject=CULTUREX%20Inquiry%20" target="_blank" rel="noopener noreferrer"></a>        
                                    <a class="social-button instagram" href="https://www.instagram.com/umiso_2019" target="_blank" rel="noopener noreferrer"></a>
                                </div>
                            </li>     
                            <li div data-aos="fade-up">
                                <!-- <a data-featherlight="#arnel-lightbox" href="">
                                    <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/arnel_jose1.jpg)">
                                    </div> -->
                                </a>
                                <div class="name" style="font-weight: bolder;">
                                    <!-- <a data-featherlight="#arnel-lightbox" href=""> -->
                                        UNICEF
                                    <!-- </a> -->
                                </div>
                                <div class="position">
                                    The United Nations Children's Fund
                                </div>
                                <div class="rounded-social-buttons">
                                    <a class="social-button email" href="mailto:unicef.umanitoba@gmail.com?Subject=CULTUREX%20Inquiry%20" target="_blank" rel="noopener noreferrer"></a>        
                                    <a class="social-button instagram" href="https://www.instagram.com/unicef.uofm" target="_blank" rel="noopener noreferrer"></a>
                                </div>
                            </li>           

                            <li div data-aos="fade-up">
                                <!-- <a data-featherlight="#arnel-lightbox" href="">
                                    <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/arnel_jose1.jpg)">
                                    </div> -->
                                </a>
                                <div class="name" style="font-weight: bolder;">
                                    <!-- <a data-featherlight="#arnel-lightbox" href=""> -->
                                        LAKSH
                                    <!-- </a> -->
                                </div>
                                <div class="position">
                                    
                                </div>
                                <div class="rounded-social-buttons">
                                    <a class="social-button email" href="mailto:laksh.umanitoba@gmail.com?Subject=CULTUREX%20Inquiry%20" target="_blank" rel="noopener noreferrer"></a>        
                                    <a class="social-button instagram" href="https://www.instagram.com/laksh.umanitoba/" target="_blank" rel="noopener noreferrer"></a>
                                </div>
                            </li>           
                            <li div data-aos="fade-up">
                                <!-- <a data-featherlight="#arnel-lightbox" href="">
                                    <div class="square-image button hvr-float" style="background-image: url({{ site.baseurl }}/images/Team/arnel_jose1.jpg)">
                                    </div> -->
                                </a>
                                <div class="name" style="font-weight: bolder;">
                                    <!-- <a data-featherlight="#arnel-lightbox" href=""> -->
                                        ISA
                                    <!-- </a> -->
                                </div>
                                <div class="position">
                                    Indian Students' Association
                                </div>
                                <div class="rounded-social-buttons">
                                    <a class="social-button email" href="mailto:isa.umanitoba@gmail.com?Subject=CULTUREX%20Inquiry%20" target="_blank" rel="noopener noreferrer"></a>        
                                    <a class="social-button instagram" href="https://www.instagram.com/isaumanitoba/" target="_blank" rel="noopener noreferrer"></a>
                                </div>
                            </li>           
                        </ul>
                    </div>

                    <div class="center-container scroll-offset" style="padding-top: 40px;  max-width: 1200px; width: 100%; margin: 0 auto;">
                        <h1 id="faq">FAQ</h1>
                        <p>Here are some frequently asked questions. Don’t see yours on the list? <a class="faq-links" href="#contact">Contact Us</a>.</p>
                        <!-- <p class="faq-category"> Info</p> -->
                        <div class="faq-section" style="text-align: left;" >
                            <div>
                                <p class="question" style="color: #1C324C;">What is CultureX?</p>
                                <p class="answer">The CultureX event is a collaborative effort of various organizations to promote and celebrate our diverse and multicultural campus!</p>
                                <p class="answer">CultureX 2020 is the 1st annual CultureX at the University of Manitoba.</p>
                            </div>
                            <div>
                                <p class="question" style="color: #1C324C;">When and Where is CultureX?</p>
                                <p class="answer">CultureX 2020 will be celebrated over 2 days. On <b>March 20th</b> a variety things like Face Painting, Flag Parade, Henna Tattoos, A photobooth and a DJ will be in University Center. </p>
                                <p class="answer">On <b>March 22</b>, there will be an Evening of Diversity from 5:30-9:00PM in the Multipurpose Room at University Center.</p>
                            </div>
                            <div>
                                <p class="question" style="color: #1C324C;">What is the Evening of Diversity?</p>
                                <p class="answer">The Evening of Diversity is a formal dinner which will consist of perfomances, a fashion show and special guests from the community.</p>
                                <p class="answer">We encourage everyone to wear <b>Traditional Clothing </b>from their culture.</p>
                            </div>


                            <div>
                                <p class="question" style="color: #1C324C;">Who can attend and Is the event Free?</p>
                                <p class="answer">The celebrations on March 20th are open for everyone. The Evening of Diversity tickets are $15 till March 14 and $20 after that for any remaining spots. Students, faculty and family are all welcome to attend.</p>
                            </div>
                            <div><p class="question" style="color: #1C324C;">How do i get a ticket?</p>
                                <p class="answer"> You can <a href="#tickets">reach out</a> to any of the collaborating students groups for tickets. There will also be few tickets available at the UMSU Service Center.</p>
                            </div>
                            <!-- </div>
                            <p class="faq-category">Attendance</p>
                            <div class="faq-section" style="text-align: left;"> -->
                            <div>
                                <p class="question" style="color: #1C324C;">Can I re-sell my ticket?</p>
                                <p class="answer">It is forbidden to re-sell the tickets above the purchased price. If you cannot attend anymore, <a class="faq-links" href="#contact">reach out to us</a> and we will do our best to assist you.</p>
                            </div>
                        </div>            
            </div>
            <!-- <div class="row"> -->
                <!-- <div class="col-lg-12"> -->
                    <!-- <ul class="timeline"> -->
                        <!-- {% for about_data in site.data.twenty_17.home_about_data %} -->
                            <!-- <li class="{{ about_data.inverted }}"> -->
                                <!-- <div class="timeline-image"> -->
                                    <!-- <img class="img-circle img-responsive" src="css/2016_style/img/{{ about_data.img }}" alt=""> -->
                                <!-- </div> -->
                                <!-- <div class="timeline-panel"> -->
                                    <!-- <div class="timeline-heading"> -->
                                        <!-- <h4>{{ about_data.name }}</h4> -->
                                    <!-- </div> -->
                                    <!-- <div class="timeline-heading"> -->
                                        <!-- <p class="text-muted">{{ about_data.info }}</p> -->
                                        <!-- <>!-- <p>{{ about_data.info }}</p> -->
                                    <!-- </div> -->
                                    <!-- <a href="{{ about_data.link }}" class="page-scroll btn btn-sm">Learn More</a> -->
                                <!-- </div> -->
                            <!-- </li> -->
                        <!-- {% endfor %} -->
                    <!-- </ul> -->   
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </section>